<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661589244767-nmf5sff22o4el94aaqa44mb2aic1ijov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661589244767-nmf5sff22o4el94aaqa44mb2aic1ijov</string>
	<key>API_KEY</key>
	<string>AIzaSyBwZw3ilzzwMfzWLdhaT-C9MgxVUPOYAjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>661589244767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appp</string>
	<key>PROJECT_ID</key>
	<string>app1-81df0</string>
	<key>STORAGE_BUCKET</key>
	<string>app1-81df0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661589244767:ios:b407331d1cddc54ae414ea</string>
</dict>
</plist>